<% content_for :meta do %>
  <title>
    Policy Declaration
  </title>
  <meta name="og:title" content="Policy Declaration">
  <meta name="description" content="Crowdsourced data by the people, for the people">
  <meta name="twitter:title" content="Policy Declaration">
  <meta name="twitter:description" content="Crowdsourced data by the people, for the people">
<% end %>

<div id="page-policies">

  <p>
    The purpose of this website is solely to help Indian people in this tough time when we are having a surge of COVID-19 cases. We are not collecting any sensitive information.
    <strong>
      We are in no ways representing any Govt. Authority. We are just a group of citizens who built this overnight to assist our fellow folks.
    </strong>
  </p>

  <h1>
    Terms & Conditions
  </h1>
  <ul>
    <li>
      Anyone can submit information to this website which is going to be helpful to the people of a particular city.
    </li>
    <li>
      The information can be submitted for plasma donors, oxygen suppliers and hospital beds availability
    </li>
    <li>
      We try to verify each entry submitted. However if someone is spamming or submitting incorrect information, we do not have any control over it and can't guarantee the accuracy. But we will delete it as soon as we are notified.
    </li>
    <li>
      We hold the right to remove any unwanted information, or add any needed information which will be helpful in this scenario.
    </li>
  </ul>



  <h1>
    Privacy Policy
  </h1>
  <ul>
    <li>
      All the information submitted using forms on this website is for public use. We do not sell any data, but by submitting information you agree to make it available public at your own responsibility.
    </li>
    <li>
      We have 'Volunteers' who are continuously vetting the data available and keeping the website updated. Admins and Volunteers can remove any data you submitted without permission.
    </li>
    <li>
      We do not sell the data to any 3rd party. However it is all publicly available.
    </li>
  </ul>


  <p>
    By using our website you agree to all the terms & conditions and policies mentioned above
  </p>
</div>