<div id="#page-edit-hospital-beds">
  <h1>
    Share Information About Available Hospital Beds
  </h1>

  <%= render 'form', hospital_bed: @hospital_bed %>

  <%= link_to 'Back', hospital_beds_path %>

</div>