<% content_for :meta do %>
  <title>
    Add Yourself as COVID-19 Plasma Donor
  </title>
  <meta name="og:title" content="Add Yourself as COVID-19 Plasma Donor">
  <meta name="description" content="Fill this form to add yourself as a plasma donor for COVID-19 patients">
  <meta name="twitter:title" content="Add Yourself as COVID-19 Plasma Donor">
  <meta name="twitter:description" content="Fill this form to add yourself as a plasma donor for COVID-19 patients">
<% end %>

<div id="page-new-plasma-donor">
  <h1>
    Add Yourself as COVID-19 Plasma Donor
  </h1>
  <p>
    Fill this form to add yourself as a plasma donor for COVID-19 patients
  </p>

  <%= render 'form', plasma_donor: @plasma_donor %>

  <%= link_to 'All Donors', plasma_donors_path %>

</div>
