// Place all the styles related to the hospital_beds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#page-edit-hospital-beds, #page-new-hospital-beds {
  max-width: 800px;
  margin: 24px auto;
}


#page-hospital-beds-index {

  .table-container {
    margin-top: 36px;
    max-width: 100%;
    overflow-x: auto;

    table {
      tr {
        td {
          font-size: 16px;
        }
      }
    }
  }
}