<footer class="footer mt-auto py-3 bg-light">
  <div class="container d-flex justify-content-around">
    <p>
      <%= link_to "Declaration/Policy", policies_path %>
      <br/>
      Website Support & Requests: indiabeatscovid@gmail.com
    </p>
    <p>
      This is an open sourced project. <a href="https://github.com/arpansac/jaocorona" target="_blank">Click Here</a> for the code. Please contribute to make it better.
    </p>
  </div>
</footer>